:root {
  --background: 20 5.8824% 90%;
  --foreground: 217.2414 32.5843% 17.4510%;
  --card: 60 4.7619% 95.8824%;
  --card-foreground: 217.2414 32.5843% 17.4510%;
  --popover: 60 4.7619% 95.8824%;
  --popover-foreground: 217.2414 32.5843% 17.4510%;
  --primary: 238.7324 83.5294% 66.6667%;
  --primary-foreground: 0 0% 100%;
  --secondary: 24.0000 5.7471% 82.9412%;
  --secondary-foreground: 215 13.7931% 34.1176%;
  --muted: 20 5.8824% 90%;
  --muted-foreground: 220 8.9362% 46.0784%;
  --accent: 292.5000 44.4444% 92.9412%;
  --accent-foreground: 216.9231 19.1176% 26.6667%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 24.0000 5.7471% 82.9412%;
  --input: 24.0000 5.7471% 82.9412%;
  --ring: 238.7324 83.5294% 66.6667%;
  --chart-1: 238.7324 83.5294% 66.6667%;
  --chart-2: 243.3962 75.3555% 58.6275%;
  --chart-3: 244.5205 57.9365% 50.5882%;
  --chart-4: 243.6522 54.5024% 41.3725%;
  --chart-5: 242.1687 47.4286% 34.3137%;
  --sidebar: 24.0000 5.7471% 82.9412%;
  --sidebar-foreground: 217.2414 32.5843% 17.4510%;
  --sidebar-primary: 238.7324 83.5294% 66.6667%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 292.5000 44.4444% 92.9412%;
  --sidebar-accent-foreground: 216.9231 19.1176% 26.6667%;
  --sidebar-border: 24.0000 5.7471% 82.9412%;
  --sidebar-ring: 238.7324 83.5294% 66.6667%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(240 4% 60%);
  --shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 250.9091 18.6441% 11.5686%;
  --foreground: 250.0000 36.0000% 90.1961%;
  --card: 251.2500 20% 15.6863%;
  --card-foreground: 250.0000 36.0000% 90.1961%;
  --popover: 251.2500 20% 15.6863%;
  --popover-foreground: 250.0000 36.0000% 90.1961%;
  --primary: 263.0769 32.5000% 68.6275%;
  --primary-foreground: 250.9091 18.6441% 11.5686%;
  --secondary: 254.4828 14.8718% 38.2353%;
  --secondary-foreground: 250.0000 36.0000% 90.1961%;
  --muted: 254.1176 20.9877% 15.8824%;
  --muted-foreground: 258.9474 10.3825% 64.1176%;
  --accent: 271.7647 15.5963% 21.3725%;
  --accent-foreground: 345.5172 69.0476% 83.5294%;
  --destructive: 0 68.6747% 67.4510%;
  --destructive-foreground: 250.9091 18.6441% 11.5686%;
  --border: 252 18.5185% 21.1765%;
  --input: 249.4737 19.5876% 19.0196%;
  --ring: 263.0769 32.5000% 68.6275%;
  --chart-1: 263.0769 32.5000% 68.6275%;
  --chart-2: 345.5172 69.0476% 83.5294%;
  --chart-3: 158.7692 31.4010% 59.4118%;
  --chart-4: 35.7576 76.7442% 74.7059%;
  --chart-5: 215.8209 54.4715% 75.8824%;
  --sidebar: 252 20.0000% 9.8039%;
  --sidebar-foreground: 250.0000 36.0000% 90.1961%;
  --sidebar-primary: 263.0769 32.5000% 68.6275%;
  --sidebar-primary-foreground: 250.9091 18.6441% 11.5686%;
  --sidebar-accent: 271.7647 15.5963% 21.3725%;
  --sidebar-accent-foreground: 345.5172 69.0476% 83.5294%;
  --sidebar-border: 249.4737 19.5876% 19.0196%;
  --sidebar-ring: 263.0769 32.5000% 68.6275%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
}

body {
  letter-spacing: var(--tracking-normal);
}